* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    flex: 1 1 auto;
}

/* adding borders to see how much space each element takes up and what it nests */
* {
    border: 1px solid red;
    padding: 3px;
}

.layer-1 {
    border: 2px dashed black;
}

.layer-2 {
    border: 2px dashed blue;
}

.layer-3 {
    border: 2px dashed green;
}
